.card_blog {
    text-align: center;
}
.not_found{
    text-align: center;
    display: flex;
    justify-content: center;
}

.not_found .text_not_found{
    font-size: 40px;
    margin-top: 50%;
    color: gray;
}

.blog {
    background:white;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.categorias{
    border-top: dashed 2px lightgray;
    width: 100%;
}

.publicacion{
    width: 100%;
    border-bottom: dashed 2px lightgray;
}