<ion-toolbar>
  <br/>
  <ion-row>
    <ion-menu-button></ion-menu-button>
    <ion-title>Directorio</ion-title>
  </ion-row>
  <br />
  <ion-searchbar class="search_bar" mode="ios" (ionChange)="getItems($event)" placeholder="Buscar"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargarDirectorio($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Baje para actualizar" refreshingSpinner="dots"
      refreshingText="Actualizando directorio...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!isLoading">
    <div *ngIf="directorio.length > 0">
      <div *ngFor="let contacto of directorio | filtro: textoSearch: ['name','numero_telefonico']" class="contact">
        <ion-row>
          <ion-col size="2" style="margin: auto;">
            <ion-icon color="medium" style="font-size: 40px;" name="contact"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <h2>{{ contacto.name }}</h2>
              <h3>{{ contacto.numero_telefonico }}</h3>
              <p><a href="mailto:{{contacto.email}}" target="_top">{{ contacto.email }}</a></p>
            </ion-label>
          </ion-col>
          <ion-col size="4" style="text-align: end;margin: auto;">
            <ion-button color="success" (click)="llamar(contacto.numero_telefonico)">
              <ion-icon slot="start" name="call"></ion-icon>
              Llamar
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="not_found" *ngIf="directorio.length == 0">
      <h5 class="text_not_found">No se encontraron resultados</h5>
    </div>
  </div>
  <div *ngIf="isLoading">
    <ion-list *ngFor="let item of [].constructor(2)">
      <ion-item *ngFor="let item of [].constructor(3)">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>