.not_found{
    text-align: center;
    display: flex;
    justify-content: center;
}

.not_found .text_not_found{
    font-size: 40px;
    margin-top: 50%;
    color: gray;
}

.notificaciones{
    background: white;
    padding: 5px;
    border-bottom: .5px solid lightgrey;
}

.outline{
    border: 1px solid #512da8;
    padding: 3px;
    border-radius: 25px;
    font-weight: 600;
}

.pulse-button {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #512da8;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  .pulse-button:hover 
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(109, 243, 31, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(109, 243, 31, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(109, 243, 31, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 15px rgba(52, 236, 67, 0);}}