<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tablero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getTableroJugadores($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Baje para actualizar" refreshingSpinner="dots"
      refreshingText="Actualizando tablero...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="bg-image" style="margin: 0; padding: 0; height: 100%">
    <ion-grid>
      <div *ngIf="!isLoading">
        <div *ngFor="let jugador of tablero" class="contact">
          <ion-row class="card-jugador">
            <ion-col size="2" style="margin: auto;">
              <div class="logo">
                <img [src]="jugador.image">
              </div>
            </ion-col>
            <ion-col size="6">
              <ion-label>
                <h2>{{ jugador.display_name }}</h2>
                <h3>Equipo:{{ jugador.equipo }}</h3>
              </ion-label>
            </ion-col>
            <ion-col size="4" style="text-align: end;margin: auto;">
              <b>{{ jugador.puntos }} Pts</b>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div *ngIf="isLoading">
        <ion-list *ngFor="let item of [].constructor(2)">
          <ion-item *ngFor="let item of [].constructor(3)">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div class="card" style="display: table;width: 100%;">
        <h3><b>Posibles premios</b></h3>
        <ion-row style="display: flex;justify-content: center;">
          <div *ngFor="let premio of premios">
            <ion-col size="6" style="margin: auto;">
              <div class="logo_premio">
                <img [src]="premio.image">
              </div>
              {{premio.display_name}}
            </ion-col>
          </div>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>